body {
    background-color: #0c0c0c;
    font-family: Arial, sans-serif;
}

header {
    height: 450px;
    background-color: #0c0c0c;
    background-image: url("Fotos/Banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

#title-image {
    height: 100px;
    padding: 20px;
}

#welcome {
    text-align: center; 
    font-size: 40px;
    padding: 0px 50px;
}

#foto1 {
    float: right;
    height: 200px;
    
}
#foto2 {
    float: right;
    height: 213px;
    
}

.gif {
    height: 150px;
}
DL  {
    text-align: center;
}

* {
   color: whitesmoke; 
}

button  {
    background-color: #0c0c0c;
    border: none;
    color: whitesmoke; 
}

form {
 text-align: right; 
 padding: 20px;
}

.input { 
    color: black;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 400px;
}

aside {
    float: right;
}